<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${recipe.name}"></title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>
    <th:block th:replace="~{fragments/starter::favIcon}"></th:block>




</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container d-flex justify-content-center align-items-center min-vh-100" th:object="${recipe}">
                <div class="col-md-6 col-lg-5">
                    <div class="card shadow w-100">
                        <img th:src="*{imgUrl}" class="card-img-top" alt="foto ricetta"
                            style="height: 260px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3" th:text="*{name}"></h5>
                            <p class="card-text text-center mb-4" th:text="*{description}"></p>
                            <div th:if="${recipe.getIngredients().size>0}" class="mb-3">
                                <h6 class="text-center">Ingredients:</h6>
                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item text-center" th:each="ingredient : *{ingredients}"
                                        th:text="${ingredient.name}"></li>
                                </ul>
                            </div>
                            <div th:unless="${recipe.getIngredients().size>0}"
                                class="alert alert-warning text-center mb-3">
                                there are no ingredients
                            </div>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{'/recipes'}" class="btn btn-primary">Back to recipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

</body>

</html>