<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    <th:block th:replace="~{fragments/starter::style}"></th:block>
    <th:block th:replace="~{fragments/starter::favIcon}"></th:block>

</head>

<body>
    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container">
                <h1 class="my-4">Ingredients: </h1>
                <div th:if="${ingredients.size() > 0}">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                                <td th:text="*{name}"></td>
                                <td>
                                    <a th:href="@{ingredients + '/' +*{id}}" class="btn btn-primary btn-sm">go to ingredient</a>
                                    <a th:href="@{ingredients/edit/{id}(id=*{id})}" class="btn btn-success btn-sm">edit ingredient</a>
                                    <form th:action="@{ingredients/delete/{id}(id=${ingredient.id})}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm">delete ingredient</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>
</html>