<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${ingredient.name}"></title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>
    <th:block th:replace="~{fragments/starter::favIcon}"></th:block>




</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container d-flex justify-content-center align-items-center min-vh-100"
                th:object="${ingredient}">
                <div class="col-md-6 col-lg-5">
                    <div class="card shadow w-100">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4" th:text="|Ingredient: *{name}|"></h5>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{'/ingredients'}" class="btn btn-primary">Back to ingredients</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>