<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricettiamo</title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>
    <th:block th:replace="~{fragments/starter::favIcon}"></th:block>



</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>
    <div class="container text-center my-4">
        <h1 class="text-warning">Welcome to Ricettiamo: Your Daily Dose of Delicious</h1>
        <p class="mt-3">Discover the joy of cooking with Ricettiamo, your essential online destination for inspiring recipes and
            culinary guidance. Whether you're whipping up a quick dinner or planning a special meal, we've got you
            covered.

            Our extensive collection features a wide variety of recipes, from comforting classics to exciting
            international dishes. Every recipe comes with clear, easy-to-follow instructions, helpful tips, and
            beautiful photos to make your cooking experience enjoyable and successful. We focus on quality ingredients
            and practical techniques, ensuring delicious results every time.

            Ricettiamo is more than just recipes; it's a vibrant community where you can share your love for food.
            Connect with fellow food enthusiasts, get answers to your cooking questions, and explore new culinary ideas.
            Our smart search helps you quickly find exactly what you're looking for, whether it's a family-friendly
            meal, a vegetarian option, or a show-stopping dessert.

            At Ricettiamo, we believe that cooking should be an exciting and rewarding journey. Join us and unlock a
            world of delicious possibilities in your kitchen!</p>
    </div>

</body>

</html>